.App{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  h1{
    text-align: center;
    margin-top: 16px;
  }
  h2{
    margin-top: 16px;
    text-align: center;
  }

  header{
    background-color: var(--darkgray);
    color: var(--white);
    padding: 20px 0px;
    text-align: center;
    h2{
        color: var(--white);
        margin: 0;
    }
  }

  button{
    margin: 8px;
    padding: 10px 20px;

    background-color: var(--lightblue);
    color: var(--white);
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 0.3s;

    font-size: 16px;

    &:hover{
        background-color: var(--darkblue);
        color: var(--lightblue);
        border: 1px solid var(--lightblue);
        cursor: pointer;
 
   }
  }

  .list-page__buttons{
      position: fixed;
      top: 0;
      right: 0;   
  }
}