/IdentityService/Application/bin/Debug/net8.0
/IdentityService/Application/obj
/IdentityService/Domain/bin/Debug/net8.0
/IdentityService/Domain/obj
/IdentityService/Identity/.vs
/IdentityService/Identity/bin/Debug/net8.0
/IdentityService/Identity/obj
/IdentityService/Infastructure/bin/Debug/net8.0
/IdentityService/Infastructure/obj
/IdentityService/Presentation/bin/Debug/net8.0
/IdentityService/Presentation/obj
/.vs
/IdentityService/.vs
/IdentityService/Tests/bin/Debug/net8.0
/IdentityService/Tests/obj
/FridgeService/.idea/.idea.FridgeService/.idea
/FridgeService/.vs/FridgeService
/FridgeService/Application/obj
/FridgeService/Domain/obj
/FridgeService/Fridge/obj
/FridgeService/Infrastructure/obj/Debug/net8.0
Client/.vs/ProjectSettings.json
Client/.vs/slnx.sqlite
Client/.vs/VSWorkspaceState.json
Client/.vs/Client/CopilotIndices/0.2.1648.49400/CodeChunks.db
Client/.vs/Client/CopilotIndices/0.2.1648.49400/SemanticSymbols.db
Client/.vs/Client/CopilotIndices/0.2.1648.49400/SemanticSymbols.db-shm
Client/.vs/Client/CopilotIndices/0.2.1648.49400/SemanticSymbols.db-wal
Client/.vs/Client/FileContentIndex/06abfe29-0c9c-4c68-b54a-19ce6bfbaac0.vsidx
Client/.vs/Client/FileContentIndex/570c8cd1-23a3-40a9-894c-f0333527585b.vsidx
Client/.vs/Client/v17/.wsuo
Client/.vs/Client/v17/DocumentLayout.json
/Client/.vs/Client
/ProdutsService/.vs/ProjectEvaluation
/Client/.vs
/Client/node_modules
/Client/node_modules/.bin/acorn
/ProdutsService/.vs
/ProdutsService/API/bin/Debug/net8.0
/ProdutsService/API/obj
/ProdutsService/Application/bin/Debug/net8.0
/ProdutsService/Application/obj
/ProdutsService/Domain/bin/Debug/net8.0
/ProdutsService/Domain/obj
/ProdutsService/Infrastructure/bin/Debug/net8.0
/ProdutsService/Infrastructure/obj/Debug/net8.0
/ProdutsService/Infrastructure/obj
/FridgeService/.vs
/FridgeService/BLL/bin/Debug/net8.0
/FridgeService/BLL/obj
/FridgeService/DAL/bin/Debug/net8.0
/FridgeService/DAL/obj
/FridgeService/Presentation/bin/Debug/net8.0
/FridgeService/Presentation/obj/Debug/net8.0
/FridgeService/Presentation/obj
/ProdutsService/.vs
/ProdutsService/API/bin/Debug/net8.0
/ProdutsService/API/obj
/ProdutsService/Application/bin/Debug/net8.0
/ProdutsService/Application/obj
/ProdutsService/Domain/bin/Debug/net8.0
/ProdutsService/Domain/obj
/ProdutsService/Infrastructure/bin/Debug/net8.0
/ProdutsService/Infrastructure/obj/Debug/net8.0
/ProdutsService/Infrastructure/obj
/FridgeService/.vs
/FridgeService/BLL/bin/Debug/net8.0
/FridgeService/BLL/obj
/FridgeService/DAL/bin/Debug/net8.0
/FridgeService/DAL/obj
/FridgeService/Presentation/bin/Debug/net8.0
/FridgeService/Presentation/obj
/ProdutsService/.vs
/ProdutsService/API/bin/Debug/net8.0
/ProdutsService/API/obj
/ProdutsService/Application/bin/Debug/net8.0
/ProdutsService/Application/obj
/ProdutsService/Domain/bin/Debug/net8.0
/ProdutsService/Domain/obj
/ProdutsService/Infrastructure/bin/Debug/net8.0
/ProdutsService/Infrastructure/obj
/IdentityService/Tests/bin/Release/net8.0
/FridgeService/Tests/bin
/FridgeService/Tests/obj
/ProdutsService/Tests/bin
/ProdutsService/Tests/obj
