version: '3.8'
networks:
  entityservicenetwork:
    driver: bridge
services:
  
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - identityservice
      - fridgeservice
      - productsservice
    networks:
      - entityservicenetwork

  identityservice:
    build:
      context: ./IdentityService
      dockerfile: Dockerfile        
    ports:
      - "8080:8080"
      - "8081:8081" 
    environment:
      ConnectionStrings__DefaultConnection: "Host=postgres;Database=UsersDb;Username=alex;Password=postgres123"
    depends_on:
      - postgres 
      - redis
      - kafka
    networks:
      - entityservicenetwork

  fridgeservice:
    build:
      context: ./FridgeService
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
    environment:
      ConnectionStrings__DefaultConnection: "Host=postgres;Database=FridgeDb;Username=alex;Password=postgres123"
    depends_on:
      - identityservice
    networks:
      - entityservicenetwork

  productsservice:
    build:
      context: ./ProdutsService
      dockerfile: Dockerfile
    ports:
      - "8083:8083"
      - "8084:8084"
    environment:
      ConnectionStrings__MongoDbConnection: "mongodb://mongo:27017/ProductsDB"
    depends_on:
      - mongo
      - fridgeservice
    networks:
      - entityservicenetwork
  
  kafka:
    image: confluentinc/cp-kafka:latest
    ports:
      - "9092:9092"
      - "9093:9093"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_NAMES: INSIDE,OUTSIDE
      KAFKA_LISTENERS: INSIDE://0.0.0.0:9092,OUTSIDE://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: INSIDE://kafka:9092,OUTSIDE://localhost:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_LISTENER_SECURITY_PROTOCOL: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
      KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE
    depends_on:
      - zookeeper
    networks:
      - entityservicenetwork

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: alex
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: UsersDb,FridgeDb,HangFireDb
    ports:
      - "5432:5432"
    volumes:
         - postgres-data:/var/lib/postgresql/data
    networks:
      - entityservicenetwork
    
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - entityservicenetwork

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    networks:
      - entityservicenetwork
 
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - entityservicenetwork

volumes:
  postgres-data:
  mongo-data:
