.profile-page {
    width: 100%;
    background-color: var(--white);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    .profile-header {
        margin-bottom: 20px;
        text-align: center;

        h2 {
            margin: 0;
            font-size: 2rem;
            color: var(--darkgray);
        }
    }

    .profile-info {
        background-color: var(--white);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        padding: 20px;
        width: 100%;
        max-width: 600px;
        margin-bottom: 20px;

        h3 {
            margin: 10px 0;
            font-size: 1.2rem;
            color: var(--darkblue);
        }

        .admin-indicator {
            color: var(--lightblue);
            font-weight: bold;
        }

        .editable-field {
            input {
                width: 100%;
                padding: 10px;
                margin: 5px 0;
                border: 1px solid var(--lightgray);
                border-radius: 8px;
                cursor: pointer;
            }
        }
    }

    .profile-controls {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 600px;

        button {
            padding: 12px 24px;
            border-radius: 24px;
            background-color: var(--lightblue);
            color: var(--white);
            border: none;
            cursor: pointer;
            border:1px solid var(--lightblue);
            transition: background-color 0.3s, color 0.3s;

            &:hover {
                background-color: var(--white);
                color: var(--lightblue);
                border: 1px solid var(--lightblue);
            }

            &:focus {
                outline: none;
                border: 1px solid var(--darkgray);
            }
        }

    }
}
